body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.paperClass {
  padding: 40px;
  width: 400px;
  height: 400px;
  margin: 100px auto;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
}

.threadCardIconClass {
  margin-left: auto;
}
