body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

h2, .DialogTitle, .CardHeader{
  font-size: 34px;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p, .DialogContent, .CardContent{
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Paper {
  background-color: rgb(230, 230, 217) !important;
}

.threadCardIconClass {
  margin-left: auto;
}
